# Environment Configuration
APP_ENV=local

# API Settings
API_BASE_URL_LOCAL=http://localhost:8000/api/v1
API_BASE_URL_PROD=

# Course & Batch Settings
COURSE_ID_LOCAL=
BATCH_ID_LOCAL=

COURSE_ID_PROD=
BATCH_ID_PROD=

# Security
API_TIMEOUT=15